html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: helvetica;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: black; 
}


.selected{
    opacity: 1 !important;
}

.container, .map-container{
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#mapid { 
    background-color: #f2f2f2;
    height: 100%;
    z-index: 0;
}

.leaflet-bottom{
    display: none;
}

.hide{
    display: none !important;
}

/*------------text------------*/

.red-circle1-text{
    width: 100%;
    background-color: red;
    z-index: 10;
    position: absolute;
    bottom: -100px;
    height: 100px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.red-circle1-text p{
    width: 200px;
    padding-top: 31px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.green-circle1-text{
    width: 100%;
    background-color: green;
    z-index: 10;
    position: absolute;
    bottom: -100px;
    height: 100px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.green-circle1-text p{
    width: 200px;
    padding-top: 31px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.orange-circle1-text{
    width: 100%;
    background-color: orange;
    z-index: 10;
    position: absolute;
    bottom: -100px;
    height: 100px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.orange-circle1-text p{
    width: 200px;
    padding-top: 31px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.text-group{
    /*opacity: 0.5;*/
    margin-top: 20px;
}

.text{
    opacity:0.6;
}

.text:hover{
    opacity:1 !important;
}

.red-text{

}

.green-text{

}

/*------------squares------------*/

.square{
    display: inline-block;
    opacity: 0.5;
}


.square p{
    padding: 10px;
}
/*------------bars------------*/
.red-bar{
    text-align: center;
    color: red;
    margin-left: 20%;
}

.green-bar{
    text-align: center;
    color: #32ff01;
    margin-left: 20%;
}

.orange-bar{
    text-align: center;
    color: orange;
    margin-left: 20%;
}

.bars{
    width: 100%;
}

/*------------custom-slider------------*/

.ui-widget-header{
    background-color: #1353ab!important;
    background: none;
}

.ui-slider-handle{
    background: none!important;
    background-color: #0f438a !important;
}

.ui-slider-pips [class*="ui-slider-pip-selected"]{
    color: #07397d!important;
}

.ui-slider-horizontal .ui-slider-handle{
    top: -0.15em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border:none;
}

.ui-slider-pips .ui-slider-pip-selected-2{

}

.slider-container{
    width: 100%;
    height: auto;
    padding-top: 30px;
    bottom:7%;
    position:fixed;
    z-index: 1;
}

#flat-slider{
    width: 60%;
    margin: auto;
}

.ui-slider-pip.ui-slider-pip-label{
    margin-top: 7px;
}

.ui-slider-pip.ui-slider-pip-label:hover{
    color: black;
    font-weight: bold;
}

#steps-fivepercent-slider .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    top: -30px;
}

/*------------------------------old slider preset----------------------------*/

.numbers{
    display: block;
}

.numbers p{
    display: inline-block;
    font: normal 10px Arial, Helvetica, sans-serif;
    width: 8.7%;
    text-align: center;
}

/*------------map ting------------*/
.mapBox{
    height: 500px;
    width: 100%;
    outline: 1px solid black;
    margin-bottom: 50px;
    overflow: hidden;
}

.mapBox-img{
    height: 80%;
    width: auto;
}

.mapBox img{
    position: absolute;
    width: 100%;
    height: auto;
}

.marker-text{
    font-family: helvetica;
    font-family: 30px;
    padding: 20px;
    float: right;
}


/*------------project list------------*/

.projects-list-container{
    position: absolute;
    background-color: white;
    z-index: 2;
    display: block;
    height: 100%;
    left: -413px;
    -webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.10);
    /* overflow: auto; */
    /*display: none;*/

}

.projects-list{
    color: black;
    font-family: Helvetica;
    font-weight: normal;
    height: 100%;
    margin: 50px 0px 50px 50px;
    overflow: auto;
    padding-right: 10px;
}

.close-list-btn{
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
}

.close-list-btn:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.projects-list div:last-child {
    margin-bottom: 100px;
}


.project-list-btn{
    /*top: 0;*/
    position: absolute;
    background-color: white;
    z-index: -1;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 30%;
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    display: inline-block;
    right: -180px;
    cursor: pointer;
}

.project-list-btn-img{
    padding-right: 0px !important;
}

#project-list-btn-text{
    padding-left: 6px !important;
}

.project-list-btn div{
    padding: 20px;
    display: inline-block;
}


.project-list-btn-img{
    padding: 20px;
    right: 0;
}

.project-list-btn-img i{
    color: black;
    width: 100%;
    height: auto;
}

i.fas.fa-times{
    padding: 10px;
    color: black;
    float: right;
}

.text{
    padding-top: 5px;
    cursor: pointer;
}



/*------------project popups------------*/

.project-popups{
    width: 80%;
    height: 250px;
     position: absolute;
    bottom: -250px;
    z-index: 2;
    right: 0;
    background-color: white;
}

.popups{
    width: 80%;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 40px;
    width: 100%;
    padding: 50px;

}


.animated-icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* box-shadow: 0px 0px 4px white; */
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.10);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

li { 
    cursor: pointer; 
}

.fade{
    background-color: blue;
    width: 100%;
    height:20px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.project-names-container{
    font-size: 20pt;
    bottom: -200px;
    position: fixed;
    z-index: 1;
    width: 100%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.project-names{
    padding: 30px;
    padding-right: 0px;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 32px -5px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 32px -5px rgba(0,0,0,0.15);

}

.map-nav{
     z-index: 1;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.map-nav:hover{
    opacity: 0.7;
}

.map-btns{
    padding: 16px 25px 17px 25px;
    font-size: 11pt;
     background-color: white;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.btn-selected{
    background-color: #5072f8;
    color: white;
}



.leaflet-pane > svg path.leaflet-interactive.hidden,
path.hidden {
    fill-opacity: 0;
    stroke-width: 0;
    pointer-events: none;
}

path.leaflet-interactive:hover {
    fill-opacity: 0.4;
    stroke-width: 10;
}

.project-names-close-btn{
    float:right;
    display: none;
    padding: 30px;
    font-size: 13pt;
    cursor: pointer;
}

.project-names-close-btn i{
    display: inline-block !important;
    padding: 0px !important
}

.close-project-list{
    display: none;
}

.project-list-open{

}

.fa-exchange-alt{
    padding-right: 15px;
}

.leaflet-right{
    right: inherit!important;
    left: 0 !important;
    margin-left: 10px !important;
}


.leaflet-left{
    left: inherit!important;
    right: 0 !important;
    margin-right: 10px !important;
}

.leaflet-bar{
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2)!important;
            box-shadow: 0 1px 5px rgba(0,0,0,0.2)!important;
}



/*----------------------------------------------------------------------*/
/*============================ width 1500px ============================*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 1500px) {

    #flat-slider{
        width: 60%;
    }


}


/*----------------------------------------------------------------------*/
/*============================ width 1250px ============================*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 1250px) {

    .ui-slider-pip:nth-child(odd){
        display: none;
    }

    #flat-slider{
        width: 75%;
    }

    .project-names{
        width: auto;
        display: inline-block;
        -webkit-box-shadow: 0px 1px 32px -5px rgba(0,0,0,0);
        box-shadow: 0px 1px 32px -5px rgba(0,0,0,0);
    }

    .project-names-close-btn{
        display: inline-block;
    }

    .project-names-container{
        background-color: white;
        -webkit-box-shadow: 0px 1px 32px -5px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 32px -5px rgba(0,0,0,0.15);
    }

}

/*----------------------------------------------------------------------*/
/*============================ width 1025px ============================*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 1025px) {

    .project-names-close-btn{
        display: inline-block;
    }

    .project-names-container{
        width: 100%;
    }

    .close-list-btn{
        opacity: 1;
        pointer-events: all;
    }

    .project-names{
        font-size: 13pt;
    }

    .projects-list{
        font-size: 25pt;
        margin-left: 30px;
    }

    .projects-list-container{
        width: 100%;
        left: -100%;
    }

    .slider-container{
        bottom: 9%;
    }

}


/*----------------------------------------------------------------------*/
/*============================ width 500px ============================*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 500px) {

    .ui-slider-pip-2009, .ui-slider-pip-2013, .ui-slider-pip-2017{
        display: none;
    }

    .leaflet-control-zoom{
        display: none;
    }

    .project-names{
        font-size: 11pt;
    }

    .project-list-btn div{
        padding: 15px;
    }

    .project-list-btn {
        right: -147px;
        font-size: 10pt;
    }

    .map-nav{
        left: auto;
    }

    .map-btns{
        float: right;
        margin: 10px 10px 0px 0px;
    }

}

/*----------------------------------------------------------------------*/
/*============================ width 350px ============================*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 350px) {

    .project-names{
        font-size: 9pt;
    }
    

}













               


